body, html{
	 margin: 0;
	 height: 100%;
}
a{
	text-decoration: none;
}
header{
	 background-image: url(https://github.com/2OvErClOcKeR2/2overclocker2.github.io/blob/master/img/HeaderBg.jpg);
	 width: 100%;
     height: 212px;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center center; 
}
#wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.info_block{
	 background-color: rgba(28, 32, 50, 0.8);
	 width: auto;
	 height: 123px;
}
.site_name{
	 height: 124px;
	 display: block;
	 width: 910px;
	 margin: 0 auto 0;
}
.head_link{
	height: 54px;
	width: 256px;
	padding-top: 30px;
}
.head_link h1{
	 margin: 0;
	 font-size: 26px;
	 font-family: 'Exo 2';
	 color: #fff;
	 font-weight: bold;
}
.head_link h2{
	 margin: 0;
	 font-size: 18px;
	 font-family: 'Exo 2', regular;
	 color: #fff;
	 
}
.menu_block{
	 margin-top: 1px;
	 background-color: rgba(21, 24, 37, 0.6);
	 width: auto;
	 height: 88px;
}
.menu{
	 margin: 0 auto 0;
	 width: 800px;
}
.menu ul{
	 margin: 0;
	 padding: 36px 17px;
}
.menu li{
	 list-style: none;
	 display: inline;
	 border-left: 1px solid rgba(255, 255, 255, 0.149);
     padding-left: 5px;
}
.menu a{
	 color: #fff;
	 font-size: 17.465px;
	 font-family: 'Exo 2';
	 line-height: 0.5;
	 text-decoration: none;
	 padding: 10px;
	 transition: 0.5s;
}

.menu li:first-child {
    border-left: none;
   }
.menu a:hover{
     background: #f7b21d;
	 color: #000;
}
.adress{
	 width: auto;
	 height: 70px; 
	 float: right;
	 margin: 30px auto 0;
}
.adress ul{
	 margin: 0;
	 padding-left: 0;
	 float: left;
	 padding-top: 5px;
}
.adress li{
	 color: #fff;
	 font-size: 16px;
	 font-family: 'Exo 2';
	 float: right;
}
.phone {
     background: url(https://github.com/2OvErClOcKeR2/2overclocker2.github.io/blob/master/img/li_phone.png);
	 padding-left: 40px;
	 background-repeat: no-repeat;
	 list-style:none;
}
.gps {
     background: url(https://github.com/2OvErClOcKeR2/2overclocker2.github.io/blob/master/img/li_gps.png);
	 padding-left: 40px;
	 background-repeat: no-repeat;
	 list-style:none;
	 padding-right: 40px;
}
.content_wrapper{
	 width: auto;
	 Padding: 70px 0 70px;
}
.content{
	 margin: 0 auto 0;
	 height: auto;
	 width: 920px;
	 padding: 100px;
}
.left-sidebar{
	 width: 220px;
	 height: auto;
	 background: #23283e;
}
.left-sidebar ul{
	padding: 0;
	margin: 0;
}
.left-sidebar li{
	 list-style: none;
}
.left-sidebar a {
	 font-size: 18px;
	 font-family: 'Exo 2';
	 display: block;
	 padding: 16px 20px; 
	 color: #fff;
	 transition: 0.5s; 
	 border-bottom: 1px solid rgba(255, 255, 255, 0.102);
}
.left-sidebar a:hover{
	 color: #333;
	 background: #f7b21d
}
.content-right{
	float: right;
	width: 661px;
	height: 343px;
}
.content-right h1{
	 font-size: 30px;
	 font-family: 'Exo 2';
	 color: #333;
	 font-weight: bold;
	 line-height: 1.2;
	 margin: 0;
}
.content-right p{
	 font-size: 16px;
	 font-family: 'Arial';
	 color: #333;
	 line-height: 1.2;
}
.content_links a{
	 font-size: 13px;
	 font-family: 'Arial';
	 color: #319cb1;
	 text-decoration: underline;
	 line-height: 1.2;
}
.content_links{
	 font-size: 13px;
	 font-family: 'Arial';
	 color: #828282;
	 line-height: 1.2;
	 padding-bottom: 27px;
}
.subscribe_wrapper{
	 background-image: url(https://github.com/2OvErClOcKeR2/2overclocker2.github.io/blob/master/img/SubscribeBackground.jpg);
	 width: 100%;
     height: 220px;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center center;
}
.subscribe_wrapper:before {
    content: "";
    overflow: hidden;
    display: block;
}
.subscribe{
	 margin: 60px auto 60px;
	 height: 97px;
	 width: 910px;
}
.subscribe h1{
	 font-size: 30px;
	 font-family: 'Exo 2';
	 color: rgb(51, 51, 51);
	 font-weight: bold;
	 line-height: 1.2;
	 text-transform: uppercase;
	 margin: 0;
	 padding-bottom: 20px;
}
.input_data {
	 width: 210px;
	 height: 40px;
	 outline: none;
	 border: none;
	 background: url(https://github.com/2OvErClOcKeR2/2overclocker2.github.io/blob/master/img/input.jpg);
	 background-repeat: no-repeat;
	 font-size: 18px;
	 font-family: 'Exo 2';
	 color: #828282;
	 line-height: 1.2;
	 padding-left: 6px;
}
.send_button{
	 width: 220px;
	 height: 40px;
	 background: #23283e;
	 outline: none;
	 border: none;
	 font-size: 18px;
	 font-family: 'Exo 2';
	 color: #fff;
}
.news_wrapper{
	 width: auto;
	 height: auto;
	 margin: 0;
}
.news{
	 width: 920px;
	 height: 255px;
	 margin: 70px auto 70px;
}
.news h1{
	 font-size: 30px;
	 font-family: 'Exo 2';
	 color: rgb(51, 51, 51);
	 font-weight: bold;
	 line-height: 1.2;
	 text-align: left;
	 margin: 0;
}
.new{
	width:435px;
	height:180px;
	margin-top: 38px;
}
.new2{
	width:435px;
	margin-top: 38px;
	float: right
}
.news_content{
	 float: right;
	 height: 170px;
	 width: 242px;
}
.news_content a{
	 margin: 0;
	 font-size: 16px;
	 font-family: 'Exo 2';
	 color: rgb(15, 148, 172);
	 line-height: 1.2;
	 text-align: left;
}
.news_content p{
	 font-size: 16px;
	 font-family: 'Arial';
	 color: rgb(51, 51, 51);
	 line-height: 1.2;
	 text-align: left;
}
.news_content h2{
	 font-size: 19px;
	 font-family: 'Exo 2';
	 color: rgb(15, 147, 171);
	 line-height: 1.2;
	 text-align: left;
	 margin: 0;
	 text-decoration: underline;
}
footer{
	 height: auto;
	 width: auto;
	 background: #23283e;
	 clear:both;
}
footer:after {
    content: "";
    overflow: hidden;
    display: block;
}
footer:before {
    content: "";
    overflow: hidden;
    display: block;
}
.footer_wrapper{
	width: 940px;
	height: 184px;
	margin: 67px auto 67px;
}
.menu_block_footer{
	 margin-top: 1px;
	 width: auto;
	 height: 88px;
	 border-bottom: 2px solid rgba(255, 255, 255, 0.231);
}
.contacts_block_footer{
	 width: 316px;
	 height: 82px;
	 margin: 35px auto 35px;
}
.contacts_block_footer h1{
	 font-size: 18px;
     font-family: 'Exo 2';
	 font-weight: normal;
     color: #fff;
     line-height: 1.2;
	 margin: 26px auto 26px;
}
.contacts_block_footer h2{
	 font-size: 15px;
     font-family: 'Exo 2';
	 font-weight: normal;
     color: #fff;
     line-height: 1.2;
	 text-align: center;
}
.contacts_block_footer a{
	 font-size: 12px;
     font-family: 'Exo 2';
	 font-weight: normal;
     color: #e9a91f;
     line-height: 1.2;
	 text-decoration: underline;
}
