body{
	padding: 0;
	margin: 0;
}
.frame{
	background: #141619;
	width: 250px;
}
.frame > .date_update{
	color: #b1b1b1;
	padding: 5px;
	margin: 0;
	font-size: 19px;
    font-weight: 500px;
    font-family: "Roboto",sans-serif;
    text-align: center;
}
.changelog > .clItem{
	color: #b1b1b1;
	padding: 15px;
	margin: 0;
	font-size: 15px;
    font-weight: 500px;
    font-family: "Roboto",sans-serif;
    text-align: center;

}
